*{
    font-family: Arial, Helvetica, sans-serif;
}

#parent-div{
   margin-top: 50px;
}

#head-div{
    display: flex;
}

#head1{
    font-size: 60px;
    margin-left: 310px;  
}

#tasks{
    font-weight: 900;
}

#lists{
    color: silver;   
}

#icon{
    margin-top: 90px;
    margin-left: 340px;
    color: red;
}

#head2{
    font-size: 35px;
    margin-top: 86px;
    margin-left: 10px;
    color: silver;
}

.body-div{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.start{
    border: 1px solid red;
    border-radius: 10px;
    height: 350px;
    width: 220px;
    text-align: left;
    font-size: 23px;
    box-shadow: 8px 8px 10px rgb(197, 196, 196);
    margin: 90px;
    margin-top: 0px;
}

.hr1{
    margin-left: 40px;
    border-top: 1px solid rgb(92, 90, 90);
}

.box-head{
    color: red; 
    text-align: center;
    font-size: 26px;   
    text-decoration: none;
}

.box-p1{
    text-align: right;
    padding-right: 10px;
    color: red;
    text-decoration: line-through;
}

input.box-p2{
    width: 20px;
    height: 20px;
}



@media screen and (min-width: 320px) and (max-width: 360px){
    
    #parent-div{
        margin-top: 0px;
     }
     
     #head1{
         font-size: 40px;
         margin-left: 20px;  
     }
     
     #tasks{
         font-weight: bold;
     }
     
     #icon{
         margin-top: 46px;
         margin-left: 65px;
         color: red;
     }
     
     #head2{
         display: none;
     }

     .body-div{
        display: inline-flex;
        flex-direction: column;
    }
    
    .start{
        border: 1px solid #da3d3d;
        height: 60px;
        width: 280px;
        margin: 30px;
        margin-top: 0px;
        padding: 0px;
    }
    
    .box-head{
        color: silver; 
        text-align: left;
        font-size: 20px; 
        padding-left: 20px;
    }

    
    .hr1, .box-p1, .box-p2, .box-l, input.box-p2{
        display: none;
    }
    
}



@media screen and (min-width: 750px) and (max-width: 770px){
        
    #parent-div{
        margin-top: 0px;
    }
    
    #head1{
        font-size: 60px;
        margin-left: 30px;  
    }
    
    #icon{
        margin-top: 95px;
        margin-left: 190px;
        color: red;
    }
    
    #head2{
        margin-top: 90px;
    }

    .start{
        margin: 50px;
        margin-top: 0px;
    }
}
